<div class="box" id="{{id}}" style="display: none;">
  <div style="float: right">
    <button class="link" onclick="$('#{{id}}').hide();">X</button>
  </div>
  <div class="info-heading">
    <h2>{{[!]}}</h2>
    <h1>{{path}} <!-- {{name}} --> </h1>
    <h3>{{modified}}</h3>
  </div>
  <div class="info-content">
    {{#if text}}
      {{render text}}
    {{/if}}
  </div>
</div>

